name: Go Tip download

on:
  workflow_dispatch:
    inputs:
      gotip:
        default: "dev.fuzz"
jobs:
  gotip-dw:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Build
      run: go install golang.org/dl/gotip@latest && gotip download "${{ github.event.inputs.gotip }}"
    - name: Compress [windows]
      if: ${{ matrix.os == 'windows-latest' }}
      run: mkdir dist && Remove-Item $HOME\sdk\gotip\.git -Recurse -Force && Compress-Archive -Path $HOME\sdk\gotip -DestinationPath dist/gotip-amd64-windows.zip && choco install -y grep
    - name: Compress [unix]
      run: mkdir dist && rm -rf $HOME/sdk/gotip/.git && tar czf "dist/gotip-amd64-${{ matrix.os }}.tar.gz" "$HOME/sdk/gotip"
      if: ${{ matrix.os != 'windows-latest' }}
    - name: get commit id
      id: commitid
      run: |
        echo "::set-output name=content::$(gotip version | grep -oP "[0-9a-f\.\-]{15}")"
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/*
        tag_name: v${{ steps.commitid.outputs.content }}
