name: Go Tip download

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 */5 * *'
jobs:
  gotip-dw:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Build
      run: go install golang.org/dl/gotip@latest && gotip download
    - name: Setup dist [unix]
      run:  mkdir dist && rm -rf $HOME/sdk/gotip/.git && mv $HOME/sdk/gotip . && python3 -m pip install lz4tools && lz4toolsCli ./gotip "dist/gotip-amd64-${{ matrix.os }}.tar.lz4"
      if: ${{ matrix.os != 'windows-latest' }}
    - name: Setup dist [windows]
      run: mkdir dist && Remove-Item $HOME\sdk\gotip\.git -Recurse -Force && choco install archiver && arc archive "dist/gotip-amd64-${{ matrix.os }}.tar.lz4" "$HOME/sdk/gotip"
      if: ${{ matrix.os == 'windows-latest' }}
    - name: Get go version commit ID
      id: commitid
      run: |
        echo "::set-output name=content::$(gotip version | grep -oE '1\.[^ ]+')"
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/*
        tag_name: v${{ steps.commitid.outputs.content }}
    - uses: dev-drprasad/delete-older-releases@v0.2.0
      name: delete old releases
      with:
        keep_latest: 3
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
